.toolbarRoot {
  padding-right: 24px;
  justify-content: space-between;
}

.menuButton {
  margin-left: 12px;
  margin-right: 36px;
}

.menubar {
  display: flex;
  align-items: center;
}

.connectButton {
  margin-left: 2rem;
}